<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <!-- CSSを読み込む -->
  <link rel="stylesheet" href="{{ '/index.css' | relative_url }}">

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NJNW42TSJE"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  
  gtag('config', 'G-NJNW42TSJE');
  </script>
    
</head>

<body>

  <div class="page-wrapper">
    {{ content }}   <!-- ← ここに Markdown が展開される -->
  </div>

  <!-- 新しいタブでリンクを開くJS -->
  <script src="{{ '/assets/js/open_external.js' | relative_url }}"></script>

</body>
</html>

<meta name="viewport" content="width=device-width, initial-scale=1">
